.navbar-cus-gradient{
	background: -webkit-gradient(linear, 80% 0, 0 0, from(rgb(26, 26, 26)), to(transparent));
	border-color: transparent;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.custom-font{
	font-size: 17 !import;
	font-family: customfont;
}

.custom-font{
	font-size: 17;
	font-family: customfont-bold;
}

.custom-font-size{
	font-size: 17px;
}

.custom-li-width{
	width: 30%;
}

.custom-nav-position{
	width: 50%;
}