.navbar-cus-background{
	background-color: transparent;
	border-color: transparent;
	background-image: url(../res/nav-back.png);
}

.logo{
    height: 50px;
    width: 130px;
    float: left;
    text-align: center;
    margin-left: 20px;
	margin-top: 5px;
}

.navbar-cus-gradient{
	background: -webkit-gradient(linear, 80% 0, 0 0, from(rgb(26, 26, 26)), to(transparent));
	border-color: transparent;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    
    height: 60px;
    /*
    height: 15%; */
    padding-top: 0;
}

.custom-a{
	
}

.custom-font{
	font-family: cus-font;
}

.custom-font-bold{
	font-family: cus-font-bold;
}

.custom-font-size{
	font-size: 23px;
}

.custom-text{
	margin-top: 40px;
	max-width: 1000px;
	padding-right: 40px;
}

.custom-text-pic{
	margin-top: 10px;
	max-width: 1000px;
}

.custom-text-pic-color{
	color: black;
}

.custom-text-color{
	color: rgb(230,230,230);
}

.custom-text-size{
	font-size: 20px;
}

.custom-li-element-width{
	width: 20%;
}

.custom-li-language-width{
	width: 40%;
}

.customfont-language-align{
	text-align: right;
}

.custom-nav-width{
	width: 96%;
}

.custom-nav-position{
	width: 50%;
	min-width: 800px;
}

.custom-logo-size{
	height: 100px;
	width: 333px;
}

.logo-position{
	position: absolute;
	left: 75px;
    top: 100px;
}

.cus-remove-hover>li>a:hover,
.cus-remove-hover>li>a:focus{
	color: #fff;
	background-color: transparent;
}


.navbar-nav-cus > li > div >div >a{
	
	color: #ABACA5;
	/**
	color: black;**/
	font-family: cus-font;
}

.navbar-nav-cus > li > div >div >a:hover,
.navbar-nav-cus > li > div >div >a:focus {
    color: #fff;
	background-color: transparent;
	text-decoration: none;
}

.cus-language> a:hover,
.cus-language> a:focus{
	color: #fff;
	background-color: transparent;
	text-decoration: none;
}

.cus-language> a{
	
	color:#ABACA5;
	/**
	color: black; **/
}

.cus-body{
	overflow-x:hidden;
	overflow-y:hidden;
}

.cus-container {
	position: relative;
	top: 14px;
	width: 50%;
	/**
	background-color: rgba(0, 0, 0, 0.5);
	**/
	background: -webkit-linear-gradient(bottom ,rgba(0,0,0,0.1),rgba(0,0,0,0.4)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.4)); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.4)); /*Fx 3.6-15*/
  	background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.4)); /*Standard*/ 
}

.cus-proj-container {
	position: relative;
	top: 14px;
	width: 50%;
	/**
	background-color: rgba(0, 0, 0, 0.5);
	**/
}

.cus-text-contant{
	top: 20px;
	left: 30px;
	width: 96%;
}

.cus-scrool {
	/**  
	overflow: auto;
	*/
	overflow-x: hidden;
	overFlow-y: scroll; 
	
}

.project-pic {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	align-items: center;
}

.nav-proj{
	margin-left: 0px;
}

.cus-small-pic{
	padding-right: 5px;
	padding-left: 5px;
}

.cus-pic{
	width: 100%;
	height: 100%;
}
